<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--
        This specific line is required when building with .NET 8.0.100/VS 17.8 and earlier.
        The error without this feed is as follows:

        InvalidProjectFileException: The SDK 'Uno.Sdk' specified could not be found.
    -->
    <add key="FSharp.Collection.Immutable" value="https://www.myget.org/F/fsharp-collections-immutable/api/v3/index.json" protocolVersion="3" />
    <add key="Windows Community Toolkit CI" value="https://pkgs.dev.azure.com/dotnet/CommunityToolkit/_packaging/CommunityToolkit-MainLatest/nuget/v3/index.json" protocolVersion="3" />
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="FSharp.Collection.Immutable">
      <package pattern="FSharp.Collections.Immutable" />
    </packageSource>
    <packageSource key="Windows Community Toolkit CI">
      <package pattern="CommunityToolkit.WinUI.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
